.header_text-style {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  background-color: white;
  color: #000000;
}
.header_menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

.circle_bulet {
  list-style-type: circle;
}
.no_bulet {
  list-style-type: none;
}
.text_margin {
  margin-bottom: 3px;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 92px 24px 96px 24px;
}

.navigate_box {
  
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 44px 0px 0px 26.5px;
}

.logo-black {

  margin-left: 38px;
  height: 105px;
  width: 148px;
  display: flex;
  justify-content: center;
}
.header_menu {
  
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 8px 25px 0 184px;

}

.header_menu-list {

  display: flex;
  flex-direction: column;
  list-style: none;
}
.cover {
  display: flex;
  flex-direction: column;
  min-height: 757px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
inset: 0;
  z-index: 1;
}

.cover__title {
  
  display: flex;
 padding:165px 50px 130px 50px;
 color:#fff;
 z-index: 2;
 font-family: Raleway;
font-size: 100px;
font-weight: 700;
line-height: 115px;
letter-spacing: 0.3em;
flex-direction: column;
text-transform: uppercase;


}


.aligned-text_center {
  padding-top: 15px;
  padding-left: 290px;

}

.aligned-text_right {
  
   display: flex;
   padding-left: 585px;

}

.letter-spacing-extended {
  padding-left: 25px;
}



.cover__description {
  display: flex;
  flex-direction: row;
}

.cover__description-text {
  
  padding: 0px 80px 0 13px;
  z-index: 2;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  

  
}

.bet-button {
  width: 256px;
height: 51px;
color:#fff;

border: 1px solid #fff;
background: transparent;
  z-index: 2;
  font-family: Raleway;
font-size: 22px;
font-weight: 500;
line-height: 25.83px;
text-align: center;
text-transform: uppercase;

padding-left: 0px;
}
.lots_main_space{
  margin: 179px 24px 0px 24px;
  width: 1052px;
  height: 692px;
}
.lots_head{
  margin-bottom: 27px;
  text-transform: uppercase;
  padding:0px 891px 0px 40px;
  font-family: Raleway,serif;
font-size: 40px;
font-weight: 700;
line-height: 46.96px;

}
.lots_cards{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px
}
.lots_first_card,
.lots_second_card,
.lots_third_card {
  width: 334px;
  height: 563px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Для работы псевдоэлемента */
}

.lots_first_card {
  background-image: url(../images/card-lot-01.jpg);
  background-position: -105px 0px;
}

.lots_second_card {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center center;
}

.lots_third_card {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center center;
}


.lots_first_card::after,
.lots_second_card::after,
.lots_third_card::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}
.lots_cards_head,
.lots_cards_text {
  position: relative;
  z-index: 2; 
}

.lots_cards_head{
  color:#fff;
padding: 51px 40px 0px 40px;
font-family: Raleway;
font-size: 22px;
font-weight: 700;
line-height: 26.4px;
text-align: left;

text-transform: uppercase;
}
.lots_cards_text{
  color:#fff;
  padding: 0px 40px 0px 40px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;  
}
.lots_first_card_padding{
  padding-top: 239px;
}
.lots_second_card_padding{
  padding-top: 0px;
}
.lots_third_card_padding{
  padding-top: 90px;
}
.lots_footer{
  font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 23.48px;


  padding: 30px 0px 0px 40px;
}
.about_box{
  padding: 146px 24px 0px 24px;
}
.logo_white_circle{
  
  background-color:#000000;
  width:240px;
  height: 240px;

  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0px 0px 47px;  
}
.logo_white_text{
  width: 150px;
  height: 150px;

}
.about_text_box{
  padding: 282px 0px 13px 48px;
}
.about_header{
  text-transform: uppercase;
font-family: Raleway;
font-size: 40px;
font-weight: 700;
line-height: 46.96px;
margin-bottom: 100px;

}
.about_logo_text{
  display: flex;
  flex-direction: row;
  
}
.about_main_text{
font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
}
.about_main_text_padding{
  padding-top: 24px;
}
.footer {
  padding: 170px 50px 88px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__address {
  text-align: left;
}

.footer__menu {
  width: max-content;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-decoration-line: underline;
}

.footer__menu-link_active {
  text-decoration-line: none;
}

.footer__social-list {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;  
}